.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  position: relative;
}

.card__trash-icon {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.card__trash-icon:hover {
  opacity: 60%;
  transition: opacity 0.1s ease-in;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__content {
  padding: 25px 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__button {
  background-image: url(../images/inactive\ like.svg);
  width: 21px;
  height: 18px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__button_active {
  background-image: url(../images/like\ active.svg);
}

.card__button:hover {
  opacity: 50%;
  transition: opacity 0.1s ease-in;
}
