.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.card__title {
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 29.05px;
  font-size: 24px;
  color: #000;
}

.card__like-button {
  background: transparent url(../images/inactive\ like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_active {
  background: transparent url(../images/like\ active.svg);
}

.card__like-button:hover {
  opacity: 50%;
  transition: 0.4s;
  cursor: pointer;
}

.card__button-remove {
  background: transparent url(../images/Trash.svg);
  position: absolute;
  width: 18px;
  height: 19.3px;
  border: none;
  left: 249px;
  top: 18px;
  cursor: pointer;
}

.card__button-remove:hover {
  opacity: 50%;
}
