.cards {
  margin-top: 30px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  line-height: 29px;
}

.card__list {
  display: grid;
  justify-content: center;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  max-width: 282px;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__title {
  max-width: 282px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 24px;
}

.card__like-button {
  background: transparent url(../images/inactive\ like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 70%;
}
