.footer {
  display: flex;
  margin-top: 67px;
  padding-bottom: 60px;
}

.footer__copyright {
  color: #545454;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 919px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
    margin-top: 48px;
    padding-bottom: 36px;
  }
  .footer__copyright {
    color: #545454;
    font-size: 14px;
  }
}
