.footer {
  font-family: "Inter", Arial, sans-serif;
  color: #545454;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 30px auto;
}

@media screen and (max-width: 919px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    padding-left: 91px;
  }
}

@media screen and (max-width: 620px) {
  .footer__copyright {
    padding-left: 20px;
  }
}
