.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 616px) {
  .header {
    padding: 28px 0 32px 19px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
