.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding-left: 19px;
  padding-right: 19px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  pointer-events: all;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}

.modal__container {
  position: relative;
  background: #fff;
  color: #000;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  font-family: "inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.modal__title {
  margin: 34px 64px auto 36px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  width: 100%;
  margin: 54px 36px 36px 36px;
  font-family: "inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background: white;
}

.modal__input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal__input:placeholder {
  color: gray;
}

.modal__input:nth-of-type(even) {
  margin-top: 29.75px;
}

.modal__button-close {
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url(../images/Close\ Icon.svg) center no-repeat;
  background-size: contain;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  opacity: 1;
}

.modal__button-close:hover {
  opacity: 0.6;
}

.modal__button-save {
  margin: 0 auto;
  padding: 0;
  margin-top: 48px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  width: 358px;
  height: 50px;
  transition: opacity 0.3s linear;
  opacity: 1;
  cursor: pointer;
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.modal__button-save:hover {
  opacity: 0.8;
}

.modal__button-create {
  margin: 0 auto;
  padding: 0;
  margin-top: 48px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  width: 358px;
  height: 50px;
  transition: opacity 0.3s linear;
  opacity: 1;
  cursor: pointer;
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.modal__button-create:hover {
  opacity: 0.8;
}

.modal__previewImage {
  width: 433px;
  height: 540px;
}

.modal__container-previewImage {
  background-color: transparent;

  padding: 0;
  margin: 90px auto;
}

.modal__previewTitle {
  color: #fff;
  font-family: "inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0;
}

@media screen and (max-width: 777px) {
  .modal__container {
    min-height: 322px;
    max-width: 282px;
    font-family: inherit;
  }

  .modal__title {
    margin: 25px 22px 73px;
    font-size: 18px;
  }
  .modal__form {
    display: flex;
    flex-direction: column;
    margin: 0 22px 25px;
    max-width: 238px;
  }

  .modal__input {
    max-width: 238px;
  }

  .modal__input:nth-of-type(even) {
    margin-top: 30px;
  }

  .modal__button-close {
    right: 0px;
    height: 26px;
    width: 26px;
  }

  .modal__button-save {
    height: 46px;
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    font-family: inherit;
  }

  .modal__button-create {
    height: 46px;
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    font-family: inherit;
  }

  .modal__previewImage {
    width: 240px;
    height: 299px;
  }

  .modal__container-previewImage {
    margin: 136px auto 133px auto;
  }

  .modal__button-close_preview {
    top: -30px;
    right: 10px;
    height: 30px;
    width: 30px;
  }
}
