.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
}

.page__section {
  max-width: 880px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
}

@media screen and (max-width: 620px) {
  .page__content {
    padding: 0;
  }
}
