.profile {
  padding: 40px 0 51px;
  display: flex;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description .";
  grid-template-rows: min-content;
  gap: 7px 18px;
  align-items: center;
  margin-right: 18px;
}

.profile__title {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.4;
  margin: 0;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__description {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ button\ small.svg) center
    no-repeat;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 0;
  margin: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
  transition: opacity 0.1s ease-in;
}

.profile__edit-icon {
  width: 10px;
  height: 10px;
}

.profile__add-button {
  background: transparent url(../images/Profile_Add_button.png) center no-repeat;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  padding: 0;
  font-size: 0;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
  transition: opacity 0.1s ease-in;
}

.profile__add-icon {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 770px) {
  .profile__info {
    gap: 7px 12px;
    align-items: center;
  }
  .profile__title {
    font-size: 34px;
    line-height: 1.2;
  }

  .profile__add-button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 616px) {
  .profile {
    flex-direction: column;
    padding: 42px 19px 36px;
  }

  .profile__info {
    display: flex;
    margin: 0;
    max-width: 282px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px 10px;
    margin-bottom: 36px;
  }

  .profile__image {
    margin: 0 0 30px;
  }

  .profile__title {
    font-size: 22px;
    max-width: 250px;
  }

  .profile__description {
    font-size: 14px;
    max-width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__edit-icon {
    width: 8px;
    height: 8px;
  }

  .profile__add-button {
    width: 282px;
    margin: auto;
  }
}
